<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django | Blog</title>
</head>
<body>
    <h1>Ini adalah halaman Templates Blog</h1>
    <ul>
        <li>
            <a href="/" rel="noopener noreferrer">Home</a>
        </li>
        <li>
            <a href="/blog" rel="noopener noreferrer">Blog</a>
        </li>
            <ul>
                <li>
                    <a href="populer/" rel="noopener noreferrer">Populer</a>
                </li>
            </ul>
        <li>
            <a href="/about" rel="noopener noreferrer">About</a>
        </li>
    </ul>
</body>
</html>